.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.board {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  background-color: purple;
  height: 10%;
  width: 9.5%;
}

.top{
  border-top: solid 1px;
}
.right{
  border-right: solid 1px;
}
.bottom{
  border-bottom: solid 1px;
}
.left{
  border-left: solid 1px;
}

.visited {
  background-color: cyan;
}